
* {
    font-size: 1.3rem;
    color: #ffffff;
}

.kontaktContainer {
    display: flex;
    width: 100%;
    max-width: 1200px;
    -webkit-box-shadow: 4px 7px 20px 1px rgba(0,0,0,0.42);
    -moz-box-shadow: 4px 7px 20px 1px rgba(0,0,0,0.42);
    box-shadow: 4px 7px 20px 1px rgba(0,0,0,0.42);
}

.kontaktContent{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    min-height: 60vh;
    padding: 1.7rem;
}

.maps {
    width: 53%;
}

hr {
    width: 2%;
    border: none;
}

.headline {
    text-align: center;
}

.innerContactContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.element{
    margin-bottom: 2em;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%; 
    min-width: 134px;
}

.elementImg {
    min-height: 45px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.element img {
    width: 20%;
}

.element h4 {
    font-size: 1.4rem;
    margin: 10px 0 20px 0;
    letter-spacing: 1.6;
    text-transform: uppercase;
}

.kontaktContainer .maps {
    width: 55%;
}

h3 {
    font-size: 4rem;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 15px;
}