.flex {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.align_center {
    align-items: center;
}

justify_center {
    justify-content: center;
}

.flex_start {
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.column_gap {
    column-gap: 4rem;
}

.sec1Item {
    width: 48%;
    max-width: 600px;
}

.section1 {
    text-align: justify;
    width: 100%;
}

.section1Inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.padding_bot {
    padding-bottom: 40px;
}

.padding_top {
    padding-top: 40px;
}

.margin_left {
    margin-left: 40px;
}

.dark_section {
    color: var(--lightColor);
    background-color: var(--mainColorheadline);
}

.light_section {
    color: var(--mainColorheadline);
    background-color: var(--lightColor);
}

.dark_section h3 {
    color: var(--lightColor);
}

.contentBox li {
    position: relative;
    padding-bottom: 40px;
}

.contentBox li::before {
    content: '';
    width: 30px;
    height: 17px;
    background-image: url(..//img/svg/Bruecke_ohne.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentBox li:last-child::before {
    content: none;
}

.dark_section li::before {
    background-image: url(../img/svg/Bruecke_ohne_weiss.svg);
    width: 30px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small {
    max-width: 300px;
    padding-bottom: 0;
}

.dark_section .small li::before {
    content: none;
}

.dark_section .small li {
    padding-bottom: 0;
}


.small li {
    list-style-type: disc;
    text-align: left;
}




.introColumn {
    text-align: center;
}

.introColumn p + a {
    padding-bottom: 3rem;
}

#introButton {
    font-weight: 500;
    position: relative;
}

#introButton:hover {
    text-decoration: underline;
}

#introButton::after{
    content: '';
    border: 1px solid var(--mainColorheadline);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -30px;
    background-image: url(../img/svg/arrowDown.svg);
    background-repeat: no-repeat;
    background-size: 69%;
    background-position: center;
}