.flex {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.align_center {
    align-items: center;
    justify-content: center;
}

.flex_start {
    align-items: flex-start;
}

.column_gap {
    column-gap: 4rem;
}

.sec1Item {
    width: 48%;
    max-width: 600px;
}

.section1 {
    text-align: justify;
    background-color: var(--mainColorheadline);
    color: var(--lightColor);
    width: 100%;
}

.section1Inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section1 p{
    font-weight: 300;
}

.section1 h3{
    font-weight: 500;
    color: var(--lightColor);
}

.introColumn {
    text-align: center;
}

.introColumn p{
    font-weight: 300;
}

.introColumn p + a{
    padding-bottom: 3rem;
}

.introColumn h3{
    font-weight: 500;
}

#introButton {
    font-weight: 500;
    position: relative;
}

#introButton:hover {
    text-decoration: underline;
}

#introButton::after{
    content: '';
    border: 1px solid var(--mainColorheadline);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -30px;
    background-image: url(../img/svg/arrowDown.svg);
    background-repeat: no-repeat;
    background-size: 69%;
    background-position: center;
}